'.source.tsx':
  'editor':
    'commentStart': '// '
    'foldEndPattern': '^\\s*\\}|^\\s*\\]|^\\s*\\)'
    'increaseIndentPattern': '(?x)
        \\{ [^}"\']* $
      | \\[ [^\\]"\']* $
      | \\( [^)"\']* $
      | <(?!\\?|[^>]*/>)
        ([-_\\.A-Za-z0-9]+)(?=\\s|>)\\b[^>]*>(?!.*</\\1>)
      | <!--(?!.*-->)
      '
    'decreaseIndentPattern': '(?x)
        ^ \\s* (\\s* /[*] .* [*]/ \\s*)* [}\\])]
      | ^\\s*
        ( </ [-_\\.A-Za-z0-9]+\\b[^>]*> )
      '
